<header-component></header-component>
<main>
  <div class="page-content">
    <div class="row">
      <tabs-component [currentTab]="currentTab" [tabs]="tabs"
        (handleTabSelected)="handleTabChanged($event)"></tabs-component>
      <div class="row">
        <div *ngIf="loading" class="d-flex justify-content-center py-5">
          <div class="spinner-border" role="status">
            <span class="d-none">Loading...</span>
          </div>
        </div>
        <!-- Apod -->
        <div *ngIf="currentTab.id === 1 && !loading">
          <div class="d-flex flex-column p-5">
            <h4>{{ apod?.title }}</h4>
            <div *ngIf="apod?.copyright && apod?.date;then withCopyright else whitoutCopyright"></div>
            <ng-template #withCopyright>
              <h6 class="text-muted">{{ apod?.copyright }} - {{ apod?.date }}</h6>
            </ng-template>
            <ng-template #whitoutCopyright>
              <h6 class="text-muted">{{ apod?.date }}</h6>
            </ng-template>
            <div class="pt-3 text-center"><img [src]="apod?.url" [alt]="apod?.title"></div>
            <div class="pt-3">
              <h5>Descripción:</h5>
              <p>{{ apod?.explanation }}</p>
            </div>
          </div>
        </div>
        <!-- Gallery -->
        <div *ngIf="currentTab.id === 2 && !loading">
          <div class="gallery p-5">
            <ul>
              <li *ngFor="let image of images">
                <img [src]="image.url" [alt]="image.title">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>